<div class="row">
    <div class="col-sx-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSignin(form)" #form="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" id="email" name="email" ngModel>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" id="password" name="password" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
      </form>
    </div>
  </div>
